<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>INSTAFOTO</title>
		<!-- Bootstrap CSS -->
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
	</head>
	<body>
		<header th:insert="frag :: header-nav"></header>
		
		<main class="mt-5">
			<h1 class="text-center my-5 mt-5">BENVENUTO ALL'INTERNO DI INSTAFOTO</h1>
			<h3 class="mx-5 text-center">
				IN QUESTA SEZIONE DEDICATA POTRAI AGGIUNGERE LE TUE FOTO, MODIFICARLE, ED ELIMINARLE.
				INOLTRE QUESTA SEZIONE POSIEDE ANCHE LA VISUALIZZAZZIONE DELLE CATEGORIE DOVE POTRAI DIVERTITI A CREARNE DI NUOVE ED AGGIUNGERLE ALLE TUE FOTO
			</h3>
			<h4 class="mx-5 mt-5 text-center">
				PRIMA DI ACCEDERE ALLE MODICICA RICORDATI DI FARE IL LOGIN
			</h4>
		</main>
		
	</body>
</html>